.border {
    padding: 10px;
    border: 1px solid dimgrey;
    display: inline-block;
    border-radius: 10px;
    background-color: darkgray;
}
.inline-block {
    display: inline-block;
}
#easel {
    border: 1px solid darkgray;
    border-collapse: collapse;
}
#palette {
    padding-left: auto;
    padding-right: auto;
}
